Htet Khant Linn

Week 1 Coding Assignment

Feb 07, 2026

In [17]:
# installing necessary library
from array import *

1. Create one dimensional array and traverse

In [18]:
my_one_d_array = array('i', [2, 4, 6, 8, 10])

def array_traverse(array):
    for i in array:
        print(i)
print("=== Traversed Array ===")
array_traverse(my_one_d_array)
print("======")

'''
I created an array of integers using array('i', []) and 
used a loop to visit and print every number in the list one by one.
'''

=== Traversed Array ===
2
4
6
8
10
======

"\nI created an array of integers using array('i', []) and \nused a loop to visit and print every number in the list one by one.\n"

2. Access individual elements through indexes

In [19]:
def access_individual_element(array, index):
    if index > len(array):
        print(f"The input index value: {index} can't be find in the array list.")
    else:
        print(f"The number with index value [{index}] is {array[index]}.")

access_individual_element(my_one_d_array, 3)

'''
I used the index number to check a specific position 
in the array and retrieve the value stored there.
I also added if-else to check out of bound value.
'''

The number with index value [3] is 8.

'\nI used the index number to check a specific position \nin the array and retrieve the value stored there.\nI also added if-else to check out of bound value.\n'

3. Append any values to the array using append() method

In [20]:
my_one_d_array.append(12)
print(my_one_d_array)

'''
I used the append() command to add a single new number 
to the very end of my existing array.
'''

array('i', [2, 4, 6, 8, 10, 12])

'\nI used the append() command to add a single new number \nto the very end of my existing array.\n'

4. Insert value in an array using insert() method

In [21]:
my_one_d_array.insert(0, 100)
print(my_one_d_array)

'''
I used insert() to place a new number at a specific spot, 
which move the other numbers over to make room.

'''

array('i', [100, 2, 4, 6, 8, 10, 12])

'\nI used insert() to place a new number at a specific spot, \nwhich move the other numbers over to make room.\n\n'

5. Extend python array using extend() method

In [22]:
my_one_d_array.extend([14, 16])
print(my_one_d_array)

'''
I used extend() to take a list of multiple numbers and 
add all of them to the end of my array at once.
'''

array('i', [100, 2, 4, 6, 8, 10, 12, 14, 16])

'\nI used extend() to take a list of multiple numbers and \nadd all of them to the end of my array at once.\n'

6. Add items from list into array using fromlist() method

In [23]:
my_one_d_array.fromlist([18, 20])
print(my_one_d_array)

'''
I used the fromlist() method to take items from a standard Python list and 
append them directly to my array.
'''

array('i', [100, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

'\nI used the fromlist() method to take items from a standard Python list and \nappend them directly to my array.\n'

7. Remove any array element using remove() method

In [24]:
my_one_d_array.remove(100)
print(my_one_d_array)

'''
I used remove() to find a specific value in the array and 
delete first matching one it found.
'''

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

'\nI used remove() to find a specific value in the array and \ndelete first matching one it found.\n'

8. Remove last array element using pop() method

In [25]:
my_one_d_array.pop()
print(my_one_d_array)

'''
I used pop() to take the very last item off the end of the array and remove it.
'''

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18])

'\nI used pop() to take the very last item off the end of the array and remove it.\n'

9. Fetch any element through its index using index() method

In [26]:
index_of_4 = my_one_d_array.index(4)
print(f"Index of 4 is: {index_of_4}.")

'''
I used the index() method to ask the array 
where a specific number is located and get its position number.
'''

Index of 4 is: 1.

'\nI used the index() method to ask the array \nwhere a specific number is located and get its position number.\n'

10. Reverse a python array using reverse() method

In [27]:
my_one_d_array.reverse()
print(f"Final Reverse array: {my_one_d_array}.")

'''
I used reverse() to flip the order of the array so the last item becomes the first.
'''

Final Reverse array: array('i', [18, 16, 14, 12, 10, 8, 6, 4, 2]).

'\nI used reverse() to flip the order of the array so the last item becomes the first.\n'