Htet Khant Linn

Feb 12, 2026

Week 2

## 2. Search Tuples

In [ ]:
new_tuple2 = ('a', 'b', 'c', 'd', 'e')
print(new_tuple2)

('a', 'b', 'c', 'd', 'e')

In [ ]:
# search the element in the Tuple

def search_tuple(my_tuple, target):
    for i in range(0, len(my_tuple)):
        if my_tuple[i] == target:
            return f"The element is found at {i} index."
    return "The element is not found."

print(search_tuple(new_tuple2, 'c'))

The element is found at 2 index.

In [ ]:
list = ['a', 'b', 'c', 'd', 'e']
tuple = ('a', 'b', 'c', 'd', 'e')

print(len(list))
print(len(tuple))

5
5

## 3. Tuple Operations

In [ ]:
my_tuple1 = (1,4,3,2,5)
my_tuple2 = (1,2,6,8,8,7)

print(my_tuple1 + my_tuple2)

print(my_tuple1 * 4)

print(4 in my_tuple1)

print(my_tuple1.count(2))
print(my_tuple2.count(8))

print(my_tuple1.index(4))

print(len(my_tuple1))

print(max(my_tuple1))

# left one item

(1, 4, 3, 2, 5, 1, 2, 6, 8, 8, 7)
(1, 4, 3, 2, 5, 1, 4, 3, 2, 5, 1, 4, 3, 2, 5, 1, 4, 3, 2, 5)
True
1
2
1
5
5

## 4. Tuples vs. Lists

In [ ]:
list[1] = 'x'
print(list)

['a', 'x', 'c', 'd', 'e']

In [ ]:
# tuple[1] = 'x'
# print(tuple)

TypeError: 'tuple' object does not support item assignment

In [1]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print(init_tuple_a == init_tuple_b)

True

In [2]:
init_tuple_c = '1', '2'
init_tuple_d = ('3', '4')

print(init_tuple_c == init_tuple_d)

False

In [ ]:
init_tuple = [(0,1), (1,2), (2,3)]

result1 = sum(n for _,n in init_tuple)  # (_,1) (_,2) (_,3)
print(result1)

result2 = sum(n*m for n,m in init_tuple)
print(result2)

6
8