Htet Khant Linn

Feb 12, 2026

Week 2

## 1. Creating List

In [55]:
integers = [1, 2, 3, 4]
print(integers)

[1, 2, 3, 4]

In [56]:
strlist = ['Htet Khant Linn', 'May Mon Thant']
print(strlist)

['Htet Khant Linn', 'May Mon Thant']

In [57]:
mix_list = ['Htet Khant Linn', 1500, 'May Mon Thant']
print(mix_list)

['Htet Khant Linn', 1500, 'May Mon Thant']

In [58]:
nest_list = [['Htet', 'Khant', 'Linn'], 1500, ['May', 'Mon', 'Thant']]
print(nest_list)

[['Htet', 'Khant', 'Linn'], 1500, ['May', 'Mon', 'Thant']]

In [59]:
nest_list[0][1]

'Khant'

In [60]:
empty_list = []
print(empty_list)

[]

## 2. Traverse List

In [61]:
shopping_list = ['Milk', 'Strawberry', 'Chocolate', 'Toy']
print('-------')
print(shopping_list[2])
print('-------')
print('Milk' in shopping_list) # checking wheter the item is in the list
print('-------')

def traverse_list(list):
    for i in shopping_list:
        print(i)

traverse_list(shopping_list)
print('-------')

def traverse_list_2(list):
    for i in range(len(list)):
        list[i] = list[i] + " - "
        print(list[i])
traverse_list_2(shopping_list)

-------
Chocolate
-------
True
-------
Milk
Strawberry
Chocolate
Toy
-------
Milk -
Strawberry -
Chocolate -
Toy -

## 3. Insert List

In [62]:
myList = [1,2,3,4,5,6,7]
print(myList)

myList[2] = 33
print(myList)

myList[4] = 55
print(myList)

myList.insert(4, 15)
print(myList)

newList = [11, 12, 13, 14]
myList.append(newList)      # append will add a nested list
print(myList)

myList = [1,2,3,4,5,6,7]
newList = [11, 12, 13, 14]
myList.extend(newList)      # extend will add without creating a nested list
print(myList)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 33, 4, 5, 6, 7]
[1, 2, 33, 4, 55, 6, 7]
[1, 2, 33, 4, 15, 55, 6, 7]
[1, 2, 33, 4, 15, 55, 6, 7, [11, 12, 13, 14]]
[1, 2, 3, 4, 5, 6, 7, 11, 12, 13, 14]

## 4. Delete to List

In [63]:
myList2 = ['a', 'b', 'c', 'd', 'e', 'f']
print(myList2)
print()

myList2[0:2] = ['x', 'y']
print(myList2)
print()

print('--- pop() ---')
myList2.pop(1)      # use index number
print(myList2)
print()

print('--- del ---')
del myList2[0:2]    # use slicing
print(myList2)
print()

print('--- remove() ---')
myList2.remove('d') # use str
print(myList2)

['a', 'b', 'c', 'd', 'e', 'f']

['x', 'y', 'c', 'd', 'e', 'f']

--- pop() ---
['x', 'c', 'd', 'e', 'f']

--- del ---
['d', 'e', 'f']

--- remove() ---
['e', 'f']

## 5. Search Element List

In [64]:
myList3 = ['a', 'b', 'c', 'd', 'e', 'f']

def linear_search(list, target):
    for i, value in enumerate(list):
        if value == target:
            return i
    return "Target not found"

print(f'The index location is: {linear_search(myList3, 'e')}.')
print(f'The index location is: {linear_search(myList3, 'g')}.')

The index location is: 4.
The index location is: Target not found.

## 6. List Operations

In [65]:
myList4 = list()

while True:
    input_num = input("Enter a number: ")
    if input_num == 'done':
        break
    value = float(input_num)
    print(f'You entered: {value}.')
    myList4.append(value)

average_num = sum(myList4) / len(myList4)

print(f'Avarage of list {myList4} is {average_num}.')

ValueError: could not convert string to float: ''

## 7. String List

In [ ]:
a = 'spam-spam-spam'

delimiter = '-'
b = a.split(delimiter)
print(b)
print()

delimiter2 = ':'
c = delimiter2.join(b)     #start with delimiter to join
print(c)

['spam', 'spam', 'spam']

spam=spam=spam

## 8. Common Pitfall

In [ ]:
myList5 = [2,4, 3, 1, 5, 7]

origin = myList5[:]
print(origin)

myList5.sort()
print(myList5)

[2, 4, 3, 1, 5, 7]
[1, 2, 3, 4, 5, 7]

## 9. Array vs List

In [ ]:
import numpy as np

myArray = np.array([1,2,3,4,5,6])
myList = [1,2,3,4,5,6]

print(myArray/2)
# for Math Operation use numpy

print("\n")

print(myList/2)

[0.5 1.  1.5 2.  2.5 3. ]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

## 10. List Comprehension

In [70]:
myList6 = [1,2,3]
new_list = []
print(myList6)

for i in myList6:
    multiply_by_2 = i * 2
    new_list.append(multiply_by_2)

print(new_list)

[1, 2, 3]
[2, 4, 6]

In [ ]:
list_compresion = [x*2 for x in myList]     # this will auto create list
print(list_compresion)

[2, 4, 6]

In [ ]:
word = "May Mon Thant"
word_list_comprehension = [letter for letter in word] # this will auto create list
print(word_list_comprehension)

['M', 'a', 'y', ' ', 'M', 'o', 'n', ' ', 'T', 'h', 'a', 'n', 't']

## 11. Conditional List Comprehension

In [71]:
myList7 = my_List = [-1, 10, -20, 2, -90, 60, 45, 20]

new_list2 = [number for number in myList7 if number > 10]
print(new_list2)

[60, 45, 20]

In [73]:
new_list3 = [number ** 2 for number in myList7 if number > 0]
print(new_list3)

[100, 4, 3600, 2025, 400]

In [74]:
new_list4 = [number if number > 0 else 0 for number in myList7]
print(new_list4)

[0, 10, 0, 2, 0, 60, 45, 20]

In [76]:
def get_number(number):
    if number > 0:
        return number
    else:
        return 'Negative'
    
new_list5 = [get_number(number) for number in myList7]
print(new_list5)

['Negative', 10, 'Negative', 2, 'Negative', 60, 45, 20]

In [79]:
sentence = "My name is Htet Khant Linn. 123."

def is_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

consonants = [i for i in sentence if is_consonant(i)]
print(consonants)

['M', 'y', 'n', 'm', 's', 'H', 't', 't', 'K', 'h', 'n', 't', 'L', 'n', 'n']